.select {
    opacity: 1;
    display: flex;
    visibility: visible;
    overflow: visible;
    width: auto;
    height: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 10px;
}
